@import url('https://fonts.googleapis.com/css?family==Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: radial-gradient(circle at 9.44% -7.92%, #ff8a99 0, #ff8e89 3.33%, #ff9379 6.67%, #ff996b 10%, #ff9f5e 13.33%, #ffa652 16.67%, #ffad47 20%, #fbb33f 23.33%, #edba39 26.67%, #dec037 30%, #cfc539 33.33%, #beca3e 36.67%, #acce46 40%, #99d251 43.33%, #84d55e 46.67%, #6cd86c 50%, #4eda7b 53.33%, #15dc8c 56.67%, #00de9d 60%, #00dfae 63.33%, #00e0c0 66.67%, #00e0d2 70%, #00e0e3 73.33%, #00e0f4 76.67%, #00dfff 80%, #00ddff 83.33%, #00dbff 86.67%, #00d9ff 90%, #00d6ff 93.33%, #00d2ff 96.67%, #00ceff 100%);
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}	 	

nav {
	background-color: rgba(255, 245, 245, 0.7);
	padding: 20px;
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	transition: width 0.6s linear;
	
}

nav.active {
	width: 400px;
}

nav ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 0;
	transition: width 0.6s linear;
}

nav.active ul{
	width: 100%;
}

nav ul li {
	transform: rotateY(0deg);
	opacity: 0;
	transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
	opacity: 1;
	transform: rotateY(360deg);
}

nav ul a {
	position: relative;
	color: #000;
	text-decoration: none;
	margin: 0 10px;	
}

.icon {
	background-color: rgba(255, 245, 245, 0.0);
	border: 0;
	cursor: pointer;
	padding: 0;
	position: relative;
	height: 30px;
	width: 30px;
}

.icon:focus {
	outline: 0;
}

.icon .line {
	background-color: #079b13;
	height: 2px;
	width: 20px;
	position: absolute;
	top: 10px;
	left: 5px;
	transition: transform 0.6s linear;
}

.icon .line2 {
	top: auto;
	bottom: 10px;
}

nav.active .icon .line1 {
	transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
	transform: rotate(765deg) translateY(-5.5px);
}